@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  height: 100%;
  /* bg-gray-900: */
}
.dark body {
  background: rgb(17 24 39);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
nav a {
  text-decoration: none;
}
a:hover { 
  text-decoration: underline;
}
#__next {
  height: 100%;
}
#map {
  transition: height 1s ease-in-out;
}
/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Roboto';
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: black;
}
.popup-bubble.opened {
  background-color: #222222;
  color: #fff;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

.dark input {
  color: #000;
}

* {
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .md-full-screen {
    height: calc(100vh - 8.6rem);
  }
}
@media (min-width: 640px) {
  .sm_grid-edit-trip {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 2fr;
    grid-gap: theme(spacing.4);
  }
}

.card-grid {
  display: grid;
  grid-gap: theme(spacing.4);
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  margin-bottom: theme(spacing.4);
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.image-shadow span {
  overflow: visible !important;
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}
